name: Publish Nightly Package

on:
  schedule:
    # 05:00 AM (KST) Mon-Fri
    - cron: "00 20 * * 0-4"

  workflow_dispatch:

jobs:
  build-and-upload:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        ubuntu_version: [22.04]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Import all commit history and tag

      - name: Trust all directories for Git
        run: |
          # Enable access to git from 'versioningit'
          git config --global --add safe.directory "*"

      - name: "Build package"
        run: |
          ./ccex build

      - name: "Upload artifact"
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.ubuntu_version }}_wheel"
          path: "./dist/"

  publish-to-pypi:
    needs:
      - build-and-upload
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        ubuntu_version: [22.04]

    environment:
      name: pypi
      url: https://pypi.org/p/TICO

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
      - name: "Download all the dists"
        uses: actions/download-artifact@v4
        with:
          name: "${{ matrix.ubuntu_version }}_wheel"
          path: "./dist/"

      - name: "Publish distribution to PyPI"
        uses: pypa/gh-action-pypi-publish@release/v1
